
    body{
        scroll-behavior: smooth;
        background: linear-gradient(-45deg, #e0f7fa, #caf0f8, #e3f2fd, #f1f8ff);
        background-size: 400% 400%;
        animation: bgFlow 15s ease infinite;
    }

    @keyframes bgFlow {
        0%{background-position: 0% 50%;}
        50%{background-position: 100% 50%;}
        100%{background-position: 0% 50%;}
    }

    .hero {
        background: linear-gradient(270deg, #0077b6, #0096c7, #00b4d8);
        background-size: 600% 600%;
        animation: heroWave 12s ease infinite;
        color: white;
        padding: 90px 20px;
        text-align: center;
    }

    @keyframes heroWave {
        0% {background-position: 0% 50%;}
        50% {background-position: 100% 50%;}
        100% {background-position: 0% 50%;}
    };

    .section-padding {
        padding: 70px 20px;
        transition: background-color 0.3s;
    }

    .goal-card {
        transition: transform 0.4s ease, box-shadow 0.4s ease, background 0.6s ease;
        background: linear-gradient(135deg, #ffffff, #f8f9fa);
    }

    .goal-card:hover {
        transform : translateY(-10px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        background: linear-gradient(135deg, #e3f2fd, #bbdefb);
    }

    .navbar {
        transition : background-color 0.4s ease, box-shadow 0.4s ease;
    }

    .navbar .scrolled {
        background-color: #003049 !important;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    }

    .btn {
        transition: all 0.4s ease;
    }

    .btn:hover {
        transform: scale(1.05);
        background-color: #023e8a;
        color: #fff
    }

    footer {
        background: linear-gradient(to right, #03045e, #0077b6);
        color: white;
        padding: 20px;
        text-align: center;
    }

        .un-logo {
    transition : transform 0.4s ease, filter 0.4s ease;
}
    .un-logo:hover {
        transform: scale(1.1), rotate(4deg);
        filter: brightness(1.2)
    }

    #social-media {
        background: linear-gradient(to right, #00b4d8, #90e0ef);
    }

    #social-media h4 {
        color: #0dcaf0;
    }

    #social-media h1 {
        color : #fff;
    }

    .media_link {
        padding : 1rem;
        max-width : 15rem;
        border: 2px solid #0dcaf0
    }

    .media_link h5{
        color : #fff;
    }

    .media_link i {
        color : #0dcaf0;
    }

    .media_link:hover {
        background-color: #0dcaf0;
        transform: translateY(-6px);
    }

    .media_link:hover h5,
    .media_link:hover i {
        color : #003049;
    }

    
    



    